 @media screen and (max-width: 576px) {
       nav{
        padding: 0 10px;
       }
      nav{
        padding: 0 20px;
        justify-content: space-between ;
      }
      .first2{
      height:auto;
       background-size:100%;
       background-position: center 119px;
       background-repeat: no-repeat;
       margin-bottom: 20px;
      }
      .first56{
        margin-top: 15px;
      }
      .first3{
        width: 200px;
        height: 200px;
      }
      .first4 {
        width: 48px;
        height: 69px;
        margin-left: 35%;
        margin-top: 28%;
        
      }
      .first55{
        font-size: 2.5rem;
      }
      .media{
        flex-direction: column;
        text-align: center;
      }
      .media-icon{
         justify-content: center;
      }
      

        
      
  
    } 
     